<table class="table">
  <thead>
    <tr>
      <th>Carrera 1</th>
      <th>Carrera 2</th>
      <th>Carrera 2</th>
      <th>Carrera 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th>Piloto</th>
              <th>Minutos totales</th>
              <th>Ubicaci贸n de cierre</th>
              <th>Estado piloto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Inner Row 1, Column 1</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
            </tr>
            <tr>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th>Piloto</th>
              <th>Minutos totales</th>
              <th>Ubicaci贸n de cierre</th>
              <th>Estado piloto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Inner Row 1, Column 1</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
            </tr>
            <tr>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th>Piloto</th>
              <th>Minutos totales</th>
              <th>Ubicaci贸n de cierre</th>
              <th>Estado piloto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Inner Row 1, Column 1</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
            </tr>
            <tr>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th>Piloto</th>
              <th>Minutos totales</th>
              <th>Ubicaci贸n de cierre</th>
              <th>Estado piloto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Inner Row 1, Column 1</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
              <td>Inner Row 1, Column 2</td>
            </tr>
            <tr>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
              <td>Inner Row 2, Column 1</td>
              <td>Inner Row 2, Column 2</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
